.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderPath {
  stroke: #000;
  stroke-width: 10px;
  fill: none;
  stroke-dasharray: 509.33;
  stroke-dashoffset: 509.33;
  animation: logoAnimation 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  87.5% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
