@import './../../styles/variables.css';

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

.headerContent {
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.headerLogo,
.headerLogoSvg {
  margin: 0 auto;
  display: block;
  flex: 1;
}

.headerNav {
  background-color: #000;
  height: calc(100vh - 74px);
  margin: 0;
  min-height: calc(100vh - 74px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 0 100px;
  position: fixed;
  transform: translateX(-300px);
  left: 0;
  top: 74px;
  transition: transform 0.3s ease-out;
  width: 300px;
}

.headerNavOpen {
  overflow: hidden;
}

.headerNav.open {
  transform: translateX(0);
}

.headerNavLink {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in;
  display: block;
  border-bottom: 1px solid #1d1d1d;
  padding: 1.1rem;
  font-size: 0.76968rem;
}

.headerNavLink:hover,
.headerNavLink:focus,
.headerNavLink:active {
  color: gray;
  text-decoration: none;
}

.headerNavBtn,
.headerSearchBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.headerSearchBtn {
  margin-left: 1.9152rem;
}

.headerNavBtn {
  position: relative;
  width: 23px;
  height: 23px;
  margin-right: 1.9152rem;
}

.headerNavBtnIcon {
  left: 0;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.headerNavBtnIcon,
.headerNavBtnIcon:after,
.headerNavBtnIcon:before {
  background-color: #fff;
  border-radius: 0;
  height: 2px;
  position: absolute;
  transition-duration: 0.15s;
  transition-property: transform, -webkit-transform;
  transition-timing-function: ease;
  width: 23px;
}

.headerNavBtnIcon:after,
.headerNavBtnIcon:before {
  content: '';
  display: block;
}

.headerNavBtnIcon:before {
  transition: top 0.1s ease 0.14s, opacity 0.1s ease;
  top: -9px;
}

.headerNavBtnIcon:after {
  transition: bottom 0.1s ease 0.14s,
    transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  bottom: -9px;
}

.headerNavBtn.open .headerNavBtnIcon {
  left: -1px;
  transform: rotate(45deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 26px;
}

.headerNavBtn.open .headerNavBtnIcon:before {
  opacity: 0;
  top: 0;
  transition: top 0.1s ease, opacity 0.1s ease 0.14s;
}

.headerNavBtn.open .headerNavBtnIcon:after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease,
    transform 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.14s;
  width: 26px;
}

@media (--lg-viewport-up) {
  .headerLogo {
    flex: 0;
  }
  .headerNavBtn {
    display: none;
  }
  .headerNav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    overflow: auto;
    position: initial;
    height: auto;
    max-width: none;
    min-height: 0;
    padding: 0;
    width: auto;
    transition: none;
    transform: translateX(0);
  }
  .headerNavLink {
    display: inline-block;
    border: none;
    padding: calc((74px - 16px) / 2) 0;
    font-size: 0.6414rem;
  }
  .headerNavLink + .headerNavLink {
    margin-left: 1.9152rem;
  }
}
