@import './../../styles/variables.css';

.cookieBanner {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--brand-primary);
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  line-height: 1;
}

.cookieBanner a {
  color: #fff;
  text-decoration: underline;
}

.cookieBanner a:hover,
.cookieBanner a:focus {
  color: #fff;
  text-decoration: underline;
  outline-color: #fff;
}
