@import './../styles/variables.css';

.contentPad1,
.contentPad2,
.contentPad3 {
  min-height: 100vh;
}

.contentPad1 {
  margin-top: 74px;
}

.contentPad2 {
  margin-top: calc(74px * 2);
}

.contentPad3 {
  margin-top: calc(74px * 3);
}

.skipToContent {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: block;
}

.skipToContent:focus {
  background-color: var(--brand-primary);
  color: #fff;
  font-size: 18px;
  padding: 0 24px;
  left: 3px;
  line-height: 64px;
  top: 3px;
  z-index: 10000;
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  width: auto;
}
